@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto';
}

main {
    flex: 1 0 auto;
}

.navbar-fixed {
    position: absolute;
    z-index: 999999999;
}

.funkey-grey {
    background-color: #c0bec5;
}

.intro {
    padding: 20%;
    font-family: 'Roboto Mono';
    background-image: linear-gradient(#3a3fb5, #4b55c4, #5d69cc);
}

.row {
    margin: 0;
}

.brand-logo img {
    padding: 5px;
}

.paragraphs {
    padding-top: 15%;
    font-family: 'Roboto Mono';
}

.links {
    padding: 1em;
}

.come-in {
    transform: translateY(150px);
    animation: come-in 1.8s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 1s;
    /* So they look staggered */
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}