@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto';
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

.navbar-fixed {
    position: absolute;
    z-index: 999999999;
}

.roboto-mono {
    font-family: 'Roboto Mono';
}

.pad-me {
    padding: 15%;
}

.row {
    margin: 0;
}

.card img {
    margin-top: 10px;
}

.card {
    margin: 5px;
}

.brand-logo img {
    padding: 5px;
}

.funkey-grey {
    background-color: #c0bec5;
}

.on-top {
    z-index: 9999999 !important;
}

.links {
    padding: 1em;
}

.fullPageSection {
    min-height: 100vh;
}

.corner {
    display: inline-block;
    position: absolute;
    right: 25px;
    bottom: 10px;
}

.cornerContainer {
    position: relative;
}

/**************************************
*             ANIMATIONS              *
**************************************/
/* Bouncing Logo */
#Logo {
    animation: bounceIn 1s;
    transform: rotate(0deg) scale(1) translateZ(0);
    transition: all 0.5s cubic-bezier(.8, 1.8, .75, .75);
    cursor: pointer;
}

#Logo:hover {
    transform: rotate(-30deg) scale(1.3);
}

/* SLIDE IN ANIMATION FOR STAFF BIT. */

.come-in {
    transform: translateY(150px);
    animation: come-in 1.8s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 1s;
    /* So they look staggered */
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

/* PULSE ANIMATION */

@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

